<app-menu></app-menu>
<div class="container">
  <div class="row page-header">
    <div class="col-lg-3 col-md-3">
        <h2 class="">Help</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <p>Product Documentation</p>
      <ul>
        <li><a target="_blank" href="/help/dataguide/">Technical documentation</a></li>
      </ul>
      <p>Download sample files :</p>
      <ul>
        <!-- <li><a href="/files/Sample_L1-Trades_Equities.tar">L1-Trades_Equities</a></li> -->
        <!-- <li><a href="/files/Sample_L1-Full_Equities.tar">L1-Full_Equities</a></li> -->
        <li><a href="/files/QH_HoD_sample_L1-Full_1032_FGBL_Futures_2019-07-18.tar">L1-Full_Futures</a></li>
        <li><a href="/files/QH_HoD_sample_L1-Full_1053_VOD_Equities_2019-07-18.tar">L1-Full_Equities</a></li>
        <li><a href="/files/QH_HoD_sample_L1-Trades_1032_FGBL_Futures_2019-07-18.tar">L1-Trades_Futures</a></li>
        <li><a href="/files/QH_HoD_sample_L1-Trades_1053_VOD_Equities_2019-07-18.tar">L1-Trades_Equities</a></li>
        <li><a href="/files/QH_HoD_sample_L2_1032_FGBL_Futures_2019-07-18.tar">L2_Futures</a></li>
        <li><a href="/files/QH_HoD_sample_L2_1053_VOD_Equities_2019-07-18.tar">L2_Equities</a></li>
      </ul>
    </div>
  </div>
</div>