.no-padding {
  padding: 0px !important;
}

.padding-row {
  padding-top: 10px;
}

.row-with-side-nav {
  margin-top: 141px;
  margin-left: 29px;
  margin-right: 4px !important;
}

.row-margin-with-side-nav {
  margin-right: 0px !important;
}

.child-pading-margin {
  padding-top: 10px !important;
  margin-top: 10px !important;
  display: block !important;
}
.panel-body {
  padding-bottom: 0px !important;
}

.panel {
  margin-bottom: 0% !important;
  height: 829px !important;
}

.update-button {
  float: right;
  margin-right: 0px;
}

.element {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid gray;
}

.menu-profile-position {
  position: fixed;
}

.padding-for-scroll {
  padding-bottom: 146px;
}

.login-informations-style {
  padding-bottom: 20px !important;
}
