<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/']">Home</li>
      <li class="current-bread-crumb">Help</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <div class="row panel-body">
    <div class="col-lg-12 col-md-12">
      <h4>Product Documentation</h4>
      <ul class="col-lg-12">
        <li><a target="_blank" href="/help/dataguide/">Technical documentation</a></li>
      </ul>
      <h4>Download sample files :</h4>
      <div class="clearfix">
        <ul class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <li><a href="/files/QH_HoD_sample_L1-Full_1032_FGBL_Futures_2019-07-18.tar">L1-Full_Futures-1032_FGBL</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Full_1053_VOD_Equities_2019-07-18.tar">L1-Full_Equities-1053_VOD</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Trades_1032_FGBL_Futures_2019-07-18.tar">L1-Trades_Futures-1032_FGBL</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Trades_1053_VOD_Equities_2019-07-18.tar">L1-Trades_Equities-1053_VOD</a></li>
          <li><a href="/files/QH_HoD_sample_L2_1032_FGBL_Futures_2019-07-18.tar">L2_Futures-1032_FGBL</a></li>
          <li><a href="/files/QH_HoD_sample_L2_1053_VOD_Equities_2019-07-18.tar">L2_Equities-1053_VOD</a></li>
        </ul>
        <ul class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
          <li><a href="/files/QH_HoD_sample_L1-Full_1032_FDAX_2019-09-17.tar">L1-Full_Futures-1032_FDAX</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Full_1064_AAPL_2019-09-17.tar">L1-Full_Equities-1064_AAPL</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Trades_1032_FDAX_2019-09-17.tar">L1-Trades_Futures-1032_FDAX</a></li>
          <li><a href="/files/QH_HoD_sample_L1-Trades_1064_AAPL_2019-09-17.tar">L1-Trades_Equities-1064_AAPL</a></li>
        </ul>
      </div>
      <h4>Product overview :</h4>
      <p>QuantHouse’s historical data is built at the source, powered by award-winning QuantFEED technology. By recording every packet at the FeedHandler level,
        we can provide tick-by-tick historical data with the same underlying format and high quality timestamping as our real-time production environment,
        across all normalized feeds we cover.
      </p>
      <p>
        Our innovative History On-Demand platform provides access to QuantHouse's tick history through a self-service web interface, allowing you to search,
        find and easily purchase the historical data sets you need.
      </p>
      <p>
        This interface empowers clients to purchase historical data for specific markets and instruments on a one-off or ongoing basis, delivered automatically as compressed .csv files.
      </p>
      <p>Key Features :</p>
      <ul>
        <li>* High quality normalized market data, available daily as soon as possible after the exchanges' embargo.</li>
        <li>* One-off and on-going delivery mechanisms.</li>
        <li>* Historical data delivered via compressed .csv files, containing snapshots every 15 minutes (L1-Full and L2-MBL).</li>
        <li>* Datasets available include:
          <ul>
            <ol>1. L1 - Trades only (also known as "Times & Sales")</ol>
            <ol>2. L1 - Full (Orders, Trades, Trading Status, Auctions, …)</ol>
            <ol>3. L2 - MBL</ol>
          </ul>
        </li>
        <li>* Referential data (dictionary)and Tick sizes are always included.</li>
        <li>* Underlying software and technology designed and maintained internally - no 3rd party involvement.</li>
        <li>* Scalable and constantly evolving platform.</li>
        <li>* Order management, billing and delivery processes are fully automated, leveraging Hadoop, Scala, Spark, Drill and Elastic Search.</li>
        <li>* Payment by wire transfer & credit card available.</li>
      </ul>
      <br>
      <br>
      <h3>QuantHouse SAS</h3>
      <h4>Sales :</h4>
      <p><a href="mailto:sales@quanthouse.com">sales@quanthouse.com</a></p>
      <h4>Support :</h4>
      <p>
        <a href="mailto:support@quanthouse.com">support@quanthouse.com</a><br>
        <span>EU Customers +33 1 73 02 32 66</span><br>
        <span>US Customers +1 312 448 8288</span><br>
        <span>ASIA Customers +65 6709 8330</span>
      </p>
    </div>
  </div>
</div>
