table.dataTable {
  width: 100% !important;
}
.color {
  color: #fd6c35;
}

/* .ngb-dp-months {
display: inline-block;
} */
ngb-datepicker {
  display: block !important;
  width: 620px !important;
}
.test {
  background: #ea663b;
}
.custom-ngb-dp-months {
  display: block !important;
  width: 620px !important;
}
.custom-ngb-dp-month.d-block {
  display: inline-block !important;
}
.avaibility .ngb-dp-day {
  pointer-events: none;
}
.disabled>.custom-day {
  cursor: none !important;
  background: #e2e2e2 !important;
  color: gray !important;
}

.avtitle {
  padding: 0 15px;
  text-align: center;
  border-bottom: 1px solid #ea663b;
}
.avaibility {
  border: 2px solid #ea663b;
  position: absolute;
  top: 10%;
  width: 620px;
  left: 40%;
  background: white;
  z-index: 1040;
}
.datemodal {
  display: inline-table;
  width: 45%;
}
option:disabled {
  background: #d6d6d6;
}
.pagine {
  font-size: 0.8em;
}
