<app-menu></app-menu>
<div class="page-content-home">
  <div class="upperbanner">
    <img src="assets/img/upper_banner.jpg">
  </div>
  <div class="container">
    <div id="datasetPanel" class="col-lg-12 col-md-12">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="datasetGroup">
            <div class="datasetTitle">Times & Sales</div>
            <div class="market-depth-fix">
              <img src="assets/img/cyber.jpg" alt="">
            </div>
            <div class="datasetDesc">
              This dataset contains the record of all trade times, prices and characteristics.
          </div>
          <div class="datasetBtn">
            <button routerLink="/search" class="btn btn-primary dataset" data-type="eod" (click)="changeSearch('L1TRADEONLY','Find Times & Sales')">Times & Sales</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="datasetGroup">
          <div class="datasetTitle">Top of Book (aka BBO)</div>
          <div class="market-depth-fix">
            <img src="assets/img/fo.jpg" alt="">
          </div>
          <div class="datasetDesc">
            This dataset includes best bid and offer prices, with corresponding volume and number of trades. It contains as well Times & Sales and Trading Status information.
            </div>
            <div class="datasetBtn">
              <button routerLink="/search" class="btn btn-primary dataset" data-type="marketdepth" (click)="changeSearch('L1','Find Top of Book')">Top of Book</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="datasetGroup">
          <div class="datasetTitle">L2-MBL</div>
          <div class="market-depth-fix">
            <img src="assets/img/dash.jpg" alt="">
          </div>
          <div class="datasetDesc">
            The L2-MBL (Market By Level) files provide all market data events required to rebuild the electronic Order Book.
          </div>
          <div class="datasetBtn">
          <button routerLink="/search" class="btn btn-primary dataset" data-type="tick" (click)="changeSearch('L2', 'Find L2-MBL')">L2-MBL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>