<tfoot class="pagine">
    <tr>
        <td colspan="12"></td>
        <td class="bb">Exchange Fees</td>
        <td *ngIf="caddy" class="bb">{{ caddy.totalExchangeFees | number:'1.2-2' }} {{ symbol }}</td>
    </tr>
    <tr>
        <td colspan="12"></td>
        <td class="bb">Before Taxes</td>
        <td class="bb">{{ caddy.totalHT | number:'1.2-2' }} {{ symbol }}</td>
    </tr>
    <tr *ngIf="caddy.discount != 0">
        <td colspan="12"></td>
        <td class="bb">Discount (%)</td>
        <td class="bb">{{ caddy.discount }}</td>
    </tr>
    <tr *ngIf="vatValueApply">
        <td colspan="12"></td>
        <td class="bb">Taxes (VAT - {{(vat * 100) | ceil }} %)</td>
        <td class="bb">{{ caddy.totalVat | number:'1.2-2' }} {{ symbol }}</td>
    </tr>
    <tr>
        <td colspan="12"></td>
        <td class="bb">TOTAL (including taxes)</td>
        <td class="bb">{{ caddy.totalTTC | number:'1.2-2' }} {{ symbol }}</td>
    </tr>
</tfoot>