<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb custom-breadcrumb">
      <li class="active">Shopping cart</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <mat-vertical-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Shopping Cart</ng-template>
      <app-caddy-table (DateChanged)='DateChange($event)' (DeleteProduct)='delCaddies($event)' [symbol]='symbol'
        [caddy]='caddy' [page]="'cart'"></app-caddy-table>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Order Cart</ng-template>
      <app-caddy-table [caddy]='caddy' [page]="'review'" [symbol]='symbol'></app-caddy-table>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Licensing</ng-template>
      <div class="table-responsive text-center">
        <p>Prior to finalizing your order, we have a few questions about data usage so we can customize your
          license
          agreement.</p>
        <p><input type="checkbox" #terms (change)="termsCheckbox(terms)" [(ngModel)]="term"> I have read,
          understood
          and accept the <a class="clickable" (click)="termsOpen()">Terms and Conditions</a></p>
        <p [hidden]="viewterms">
          <button class="btn btn-success" (click)="previousPage()">Previous</button>
          <button class="btn btn-danger" (click)="termsClose()">Close</button>
          <button class="btn btn-success" (click)="nextPage()">Next</button>
        </p>
        <pdf-viewer [src]="termspdf" [rotation]="rotation" [original-size]="originalSize" [fit-to-page]="fitToPage"
          [zoom]="0.5" [(page)]="pages" [show-all]="showAll" [stick-to-page]="stickToPage" [render-text]="renderText"
          [external-link-target]="'blank'" [autoresize]="autoresize" [hidden]="viewterms"></pdf-viewer>
      </div>
      <div class="table-responsive" *ngIf="term">
        <app-survey (surveyChange)="updtSurvey($event);" [survey]="survey"></app-survey>
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step *ngIf="caddy" [stepControl]="billingStep">
      <ng-template matStepLabel>Billing</ng-template>
      <app-billing [user]="user" [currency]="currency" [currencies]="currencies"
        (ChangeCurrency)="ChangeCurrency($event)" (ChangeDefaultAdress)="ChangeDefaultAdress($event)"
        (ChangeDefaultCurrency)="ChangeDefaultCurrency($event)">
      </app-billing>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      <app-payment *ngIf="rib" [rib]="rib"></app-payment>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step *ngIf="caddy">
      <ng-template matStepLabel>Order Confirmation</ng-template>
      <app-caddy-table [caddy]='caddy' [symbol]='symbol'></app-caddy-table>
      <app-price [caddy]='caddy' [symbol]='symbol' [vatValueApply]="vatValueApply"></app-price>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
  </mat-vertical-stepper>
  <pre
    *ngIf="user?.token==='265a6952787e320c0ba55fefeec470f88f74c9313ed1eb689f3f1988329c5015d06537101ff99806f2c38d8d459ad53b'">
  {{ user?.countryBilling }}
  {{ this.vatValueApply }}
  {{ checkv }}
  {{ user.vat }}
  {{ loadvat }}
  {{ caddy?.products | json }}
  {{ user | json }}
</pre>