mat-form-field {
  width: 100%;
}
.align {
  display: flex;
  margin-bottom: 0px !important;
}

.mat-list-item {
  font-size: 13px;
  font-weight: 500;
}
.mat-header-cell {
  text-align: center;
}

.mat-cell {
  font-size: 12px;
}

.mat-list-item span {
  color: rgb(116, 116, 116);
  font-weight: 400;
}

.user-page-content {
  margin-top: 145px !important;
}

.mat-header-cell {
  text-align: center;
}

.mat-card {
  box-shadow: 0px 10px 20px -15px black;
  padding-top: 1rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border-left: 0 solid #ed6540;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 3px !important;
}

.b {
  font-size: 20px !important;
}

.update-button {
  float: right;
  margin-right: 0px;
}



.mat-card-actions {
  margin-bottom: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 0px !important;
  text-align: center !important;
}