.light-blue-backdrop {
    background-color: #5cb3fd;
}

.margin-left-zero {
    padding-left: 0px;
}
.responsive-field {
    width: 100%;
    max-width: 100%;
    height: 11vh;
    max-height: 11vh;
}

.save-changes-btn {
    float: right;
}

.input-style {
    width: 75%;
}

.input-style-period {
    width: 50%;
}

.save-period-button {
    float: none;
}

.modal-title {
    margin-bottom: 0px !important;
}

.space-between-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
   position: relative;
    top: 50%;
    transform: translateY(-50%);
   text-align:center;
}