<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/product']">Home</li>
      <li class="bread-crumb" [routerLink]="['/product/orders']">Product</li>
      <li class="current-bread-crumb">Order Details {{idOrder}}</li>
    </ol>
    <div class="container text-center">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="table-responsive text-center">
      <button class="bottom-button orange-color" *ngIf="verifStatePVP() && state == 'PVP'"
        (click)="openModal(UpdateStatus)" id="updateButton"><i class="fa fa-refresh"></i> Update Status</button>

      <button class="bottom-button yellow-color" *ngIf="state == 'PVF'" (click)="cancelValidation()"
        [routerLink]="['/product/orders']"><i class="fa fa-ban"></i> Cancel Validation</button>

      <button class="bottom-button green-color" *ngIf="state=='PVP' && editOff"
        (click)="updateChanges(); applyDiscount(); updateEngagementPeriod(); toggleEdit()"><i
          class="fa fa-floppy-o"></i> Save Changes</button>

      <button class="bottom-button grey-color" *ngIf="state == 'PVP' && !editOff" (click)="toggleEdit()"><i
          class="fa fa-pencil"></i> Edit</button>
    </div>
  </div>
</div>
<div class="container page-content">
  <div class="row">
    <app-menu-product></app-menu-product>
    <div class="col-md-11">
      <div class="table-responsive">
        <div class="panel panel-primary" *ngIf="message">
          <div class="panel-heading">
            <h5 class="text-center">{{ message }}</h5>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="table-responsive container row">
            <div class="col-md-6">
              <p>
                Order ID : <b> {{ idOrder }}</b>
              </p>
              <p>
                Submission Date and Time :
                <b> {{ submissionDate | date: "medium" }}</b>
              </p>
              <p>
                Payment method : <b>{{ payment }}</b>
              </p>
              <p>
                Invoice :
                <b><a target="_blank" *ngIf="proForma" (click)="downloadInvoice(proForma, 'pro forma invoice')">
                    Pro-Forma</a>
                  <p style="display: inline;" *ngIf="invoice"> | </p>
                  <a target="_blank" *ngIf="invoice" (click)="downloadInvoice(invoice, 'invoice')">Invoice</a>
                </b>
              </p>
              <p>
                Order Status :
                <b><span [class]="textcolor">{{ getStateName(state) }}</span></b>
              </p>
              <p>
                Order Type:
                <select name="search" class="input-border-color" [(ngModel)]="choosedOrderType"
                  *ngIf="state == 'PVP' && editOff">
                  <option value="NA">NA</option>
                  <option value="Client order">Client order </option>
                  <option value="Free sample order for client">Free sample order for client
                  </option>
                  <option value="Internal order">Internal order </option>
                </select>
                <b *ngIf="state != 'PVP' || !editOff"><span [class]="textcolor">{{ choosedOrderType }}</span></b>
              </p>
              <p>
                Sales:
                <select name="search" class="input-border-color" [(ngModel)]="choosenSale"
                  *ngIf="state == 'PVP' && editOff">
                  <option value="no sales">no sales</option>
                  <option *ngFor="let s of listSales" [value]="s.name">{{
                    s.name
                  }}</option>
                </select>
                <b *ngIf="state != 'PVP' || !editOff"><span [class]="textcolor">{{ choosenSale }}</span></b>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                Company Name: <b>{{ company }}</b>
              </p>
              <p>
                First name : <b>{{ firstname }}</b>
              </p>
              <p>
                Last name : <b>{{ lastname }}</b>
              </p>
              <p>
                Job role : <b>{{ job }}</b>
              </p>
              <p>
                Country : <b>{{ countryBilling }}</b>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item #</th>
                <th>Data Set</th>
                <th>Symbol</th>
                <th>Exchange</th>
                <th>Product ID</th>
                <th>Purchase Type</th>
                <th>Engagement Period<br />(month)</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Pricing Tier</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of cart">
                <td *ngIf="!c.print">{{ c.idx }}</td>
                <td *ngIf="!c.print">{{ c.quotation_level }}</td>
                <td *ngIf="!c.print">{{ c.symbol }}</td>
                <td *ngIf="!c.print">{{ c.exchange }}</td>
                <td *ngIf="!c.print">{{ c.eid }}</td>
                <td *ngIf="c.onetime === 1 && !c.print">One-Off</td>
                <td *ngIf="c.subscription === 1 && !c.print">Subscription</td>
                <td *ngIf="c.subscription === 1 && verifState() && !c.print">
                  <input *ngIf="state == 'PVP' && editOff" class="input-style-period" type="number"
                    [(ngModel)]="c.period" min="1" (ngModelChange)="setPeriod(c)" />
                  <span *ngIf="state != 'PVP' || !editOff">{{c.period}}</span>
                </td>

                <td *ngIf="c.subscription === 1 && !verifState() && !c.print">
                  {{ c.period }}
                </td>
                <td *ngIf="c.subscription === 0 && !c.print"></td>
                <td *ngIf="!c.print">
                  {{ c.begin_date_select | date: "yyyy-MM-dd" }}
                </td>
                <td *ngIf="!c.print">
                  {{ c.end_date_select | date: "yyyy-MM-dd" }}
                </td>
                <td *ngIf="!c.print">{{ c.pricingTier }}</td>
                <td *ngIf="!c.print">
                  {{ c.ht | number: "1.2-2" }} {{ symbols[currency] }}
                </td>
                <td class="bg-grey" colspan="8" *ngIf="c.print"></td>
                <td *ngIf="c.backfill_fee || c.ongoing_fee">
                  <b>Exchange Fees</b>
                </td>
                <td *ngIf="c.backfill_fee || c.ongoing_fee">
                  {{
                    (c.backfill_fee ? c.backfill_fee : c.ongoing_fee)
                      | number: "1.2-2"
                  }}
                  {{ symbols[currency] }}
                </td>
              </tr>
              <tr *ngIf="cart?.length === 0">
                <td colspan="11" class="no-data-available">Empty !</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive container margin-left-zero">
          <div class="col-md-9 margin-left-zero">
            <p><b>Internal Notes:</b></p>
            <p>
              <textarea *ngIf="editOff" class="responsive-field" name="internNotesText" [(ngModel)]="internalNote"
                id="internalNotesTextArea">{{ internalNote }}</textarea>
              <span *ngIf="!editOff">{{ internalNote }}</span>
            </p>
          </div>
          <div class="col-md-3">
            <table class="border-color-sum">
              <tr>
                <td>Exchange Fees</td>
                <td>
                  {{ totalFees | number: "1.2-2" }} {{ symbols[currency] }}
                </td>
              </tr>
              <tr>
                <td>Order Amount</td>
                <td>{{ totalHT | number: "1.2-2" }} {{ symbols[currency] }}</td>
              </tr>
              <tr>
                <td>Discount (%)</td>
                <td>
                  <input *ngIf="state == 'PVP' && editOff" class="input-style" type="number" [(ngModel)]="discount"
                    (change)="onDiscountChange()" min="0" max="100" />
                  <span *ngIf="state != 'PVP' || !editOff">{{discount}}</span>
                </td>
              </tr>
              <tr>
                <td>VAT ({{ vat }}%)</td>
                <td>
                  {{ totalVat | number: "1.2-2" }} {{ symbols[currency] }}
                </td>
              </tr>
              <tr>
                <td>TOTAL Order Amount</td>
                <td>
                  {{ totalTTC | number: "1.2-2" }} {{ symbols[currency] }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #UpdateStatus let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Update Client Order Status
    </h4>
    <button class="close" aria-label="Close" (click)="close('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-right">
    <button class="bottom-button yellow-color space-between-buttons" (click)="cancelOrder(); close('')"
      [routerLink]="['/product/orders']">
      <i class="fa fa-trash-o"></i> Cancel
    </button>
    <button class="bottom-button red-color space-between-buttons" (click)="rejectOrder(); close('')"
      [routerLink]="['/product/orders']">
      <i class="fa fa-times"></i> Reject
    </button>
    <button class="bottom-button green-color space-between-buttons" (click)="validateOrder(); close('')"
      [routerLink]="['/product/orders']"><i class="fa fa-check"></i> Validate
    </button>
  </div>
</ng-template>