<div class="row">
  <div class="col-lg-12" *ngIf='surveyPage === 0'>
    <div class="col-md-12 text-center">
      <div class="panel-heading">
        <h2>Data Distribution</h2>
      </div>
      <div>
        <div class="btn-group btn-group-toggle">
          <div class="form-group input-group">
            <span>Will you be distributing the data outside your organisation ?</span><br>
            <label><input type="radio" [(ngModel)]="surveyForm.dd" name="do" value="1"> Yes</label>
            <label><input type="radio" [(ngModel)]="surveyForm.dd" name="do" value="0"> No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12" *ngIf='surveyPage === 1'>
    <div class="col-md-12 text-center">
      <div class="panel-heading">
        <h2 class="">Data Transformation</h2>
      </div>
      <div>
        <div class="btn-group btn-group-toggle">
          <div class="form-group input-group">
            <span>Will you be using the data to create Derived Products ?</span><br>
            <label><input type="radio" name="dt" [(ngModel)]="surveyForm.dt" value="1"> Yes</label>
            <label><input type="radio" name="dt" [(ngModel)]="surveyForm.dt" value="0"> No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12" *ngIf='surveyPage === 2'>
    <div class="col-md-12">
      <div class="panel-heading">
        <h2 class="text-center">Data Usage</h2>
      </div>
      <div class="put-center">
        <div class="btn-group btn-group-toggle">
          <div class="form-group input-group">
            <span>Please select all categories that apply to your data usage.</span><br>
            <div class="columns">
              <label class="checkbox">
                <input type="checkbox" value="Research" #cb1 (change)="logCheckbox(cb1)"> Research
              </label>
              <label class="checkbox">
                <input type="checkbox" value="TestingDevelopment" #cb2 (change)="logCheckbox(cb2)">
                Testing and/or Development
              </label>
              <label class="checkbox">
                <input type="checkbox" value="Analytics" #cb3 (change)="logCheckbox(cb3)"> Analytics
              </label>
              <label class="checkbox">
                <input type="checkbox" value="BackOffice" #cb4 (change)="logCheckbox(cb4)"> Back Office
              </label>
              <label class="checkbox">
                <input type="checkbox" value="DataQualityValidation" #cb5 (change)="logCheckbox(cb5)">
                Data Quality Validation
              </label>
              <label class="checkbox">
                <input type="checkbox" value="DataDisplayApplication" #cb6 (change)="logCheckbox(cb6)">
                Data will be exhibited on a display application
              </label>
              <label class="checkbox">
                <input type="checkbox" value="DataNonDisplayApplication" #cb7 (change)="logCheckbox(cb7)"> Data will
                be used by a non-display application
              </label>
              <label class="checkbox">
                <input type="checkbox" value="Other" #cb8 (change)="logCheckbox(cb8)"> Other
              </label>
              <input type="text" name="textOther" class="form-control" [(ngModel)]="surveyForm.du.other"
                placeholder="Other" *ngIf="surveyForm.du.cb.indexOf('Other') !== -1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>