.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-horizontal-content {
  margin-left: 32px !important;
  margin-right: 32px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.mat-form-field {
  width: 90% !important;
}

.mat-card-actions {
  margin-bottom: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 0px !important;
}

.login-margin {
  margin-left: 5.333333% !important;
}

.cvg-color {
  color: #ea663b !important;
}

.terms-margin {
  margin-bottom: 0px !important;
}

.footer {
  margin-top: -50px !important;
}
.footer > img {
  display: block;
  margin: auto;
  width: 100%;
  height: 150px;
}
.footer > img {
  height: 80px;
}

.margin-bottom {
  margin-bottom: 102px !important ;
}

.scrollable {
  height: 171px;
  overflow: auto;
  scrollbar-color: #ea663b rgb(246, 246, 246) !important;
}

.mat-raised-button {
  margin-bottom: 3px !important;
}

.mat-stepper-vertical {
  margin-left: 360px;
  margin-right: 360px;
}

.col-lg-offset-6 {
  margin-left: 22% !important;
}

