<app-menu></app-menu>
<div class="row page-header margin-left-breadcrumb">
    <div class="col-lg-12 ">
        <ol class="breadcrumb custom-breadcrumb">
            <li class="active">Sign Up</li>
        </ol>
    </div>
</div>
<div class="container page-content margin-bottom">
    <div class="row">
        <mat-vertical-stepper linear #stepper>
            <mat-step state="contactInformations">
                <ng-template matStepLabel>Contact Informations</ng-template>
                <div class="mat-horizontal-content">
                    <app-contact-informations [toUpdate]="true" [contactInformations]="contactInformations"
                        (emitContactInformations)="getContactInformations($event)" [forRegister]="true">
                    </app-contact-informations>

                </div>
            </mat-step>

            <mat-step state="billingInformations">
                <ng-template matStepLabel>Billing Informations</ng-template>
                <div class="mat-horizontal-content">
                    <app-billing-informations [forRegister]="true" [toUpdate]="true"
                        (emitBilligInformations)="getBillingInformations($event)"
                        [billigInformations]="billigInformations">
                    </app-billing-informations>

                </div>
            </mat-step>


            <mat-step state="loginInformations">
                <ng-template matStepLabel>Sign In Informations</ng-template>
                <div class="mat-horizontal-content login-margin">
                    <app-password-informations (emitPassword)="getPassword($event)" [forRegister]="true">
                    </app-password-informations>

                </div>
            </mat-step>

            <mat-step state="toRegister">
                <ng-template matStepLabel>Sign Up</ng-template>
                <div class="mat-horizontal-content">
                    <div class="col-lg-6 col-lg-offset-6 text-center">
                        <div class="scrollable">
                            <h2>Terms and Policies</h2>
                            <div *ngFor="let term of terms">
                                {{term}} <br><br>
                            </div>
                        </div>
                        <mat-checkbox class="cvg-color" [(ngModel)]="cvg">
                            <p class="terms-margin"> agree to QH’s term & services,
                                and cookie
                                policy</p>
                        </mat-checkbox>
                        <br>
                        <mat-checkbox [(ngModel)]="commercial">Subscribe to commercial emails</mat-checkbox>
                        <br><br>
                        <!-- <div class="col-lg-4 col-lg-offset-4"> -->
                            <re-captcha (resolved)="resolved($event)" [siteKey]="captchaKey"></re-captcha>
                        <!-- </div> -->
                        <br><br>
                        <button mat-raised-button matStepperPrevious>Back</button> &nbsp;&nbsp;&nbsp;
                        <button mat-raised-button color="warn" (click)="register()" [disabled]="!cvg || !checkrobot">Sign Up</button>
                    </div>
                </div>
            </mat-step>


            <!-- Icon overrides. -->
            <ng-template matStepperIcon="contactInformations">
                <mat-icon>person</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="billingInformations">
                <mat-icon>home</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="loginInformations">
                <mat-icon>login</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="toRegister">
                <mat-icon>how_to_reg</mat-icon>
            </ng-template>

        </mat-vertical-stepper>
    </div>

</div>
<!-- <div class="footer">
    <img src="assets/img/lower_banner.jpg">
    <div class="copyright">
        <p>All Material © QuantHouse; Latest Update 2019</p>
    </div>
    <div class="col-md-12 text-center">
        <img src="assets/img/lower_logo.jpg" alt="Quanthouse">
    </div>
</div> -->