<table class="table tacle-hover">
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Data Set</th>
      <th>Instrument ID</th>
      <th>Product ID</th>
      <th>Symbol</th>
      <th>Description</th>
      <th>Asset Class</th>
      <th>MIC</th>
      <th>Purchase Type</th>
      <th>Engagement Period<br>(month)</th>
      <th>Date From</th>
      <th>Date To</th>
      <th>Pricing Tier</th>
      <th>Price</th>
      <th>Exchange Fees/month</th>
      <th>Direct Billing</th>
      <th *ngIf="page==='cart'">Remove</th>
    </tr>
  </thead>
  <tbody *ngIf="!caddy">
    <tr>
      <td colspan="12"> No Product Selection ! </td>
    </tr>
  </tbody>
  <tbody *ngIf="caddy?.products?.length > 0">
    <ng-container *ngFor="let c of caddy.products">
      <tr *ngIf="c?.Allproducts">
        <td class="vertical-aligning" [attr.rowspan]="c?.Allproducts?.length+1">{{ c.exchangeName }}</td>

        <td class="vertical-aligning">{{ dataset[c.Allproducts[0].dataset] }}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].qhid}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].eid}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].symbol}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].description}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].assetClass}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].mics}}</td>
        <td class="vertical-aligning">{{c.Allproducts[0].subscription==1?'Subscription' : 'One Time'}}
        </td>
        <td class="vertical-aligning">{{c.Allproducts[0].subscription === 1?c.Allproducts[0].period:'-'}}
        </td>
        <td class="datemodal vertical-aligning" *ngIf=" page==='cart';else simpleBeginDate ">
          <ng-container *ngIf="c.Allproducts[0].subscription == 0">
            <input [matDatepicker]="picker" (dateChange)="DateChange(c.Allproducts[0],'begin_date',$event)"
              [(ngModel)]="c.Allproducts[0].begin_date" [max]="c.Allproducts[0].end_date_ref"
              [min]="c.Allproducts[0].begin_date_ref">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-container>

        </td>

        <ng-template #simpleBeginDate>
          <td> {{ c.Allproducts[0].begin_date }}</td>
        </ng-template>



        <td class="datemodal vertical-aligning" *ngIf=" page==='cart';else simpleEndDate ">
          <ng-container *ngIf="c.Allproducts[0].subscription == 0">
            <input [matDatepicker]="picker" (dateChange)="DateChange(c.Allproducts[0],'end_date',$event)"
              [(ngModel)]="c.Allproducts[0].end_date" [max]="c.Allproducts[0].end_date_ref"
              [min]="c.Allproducts[0].begin_date_ref">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-container>

        </td>

        <ng-template #simpleEndDate>
          <td> {{ c.Allproducts[0].end_date }}</td>
        </ng-template>
        <td class="vertical-aligning">{{ c.Allproducts[0].pricingTier }}</td>
        <td class="vertical-aligning">{{ c.Allproducts[0].ht | number:'1.2-2' }} {{symbol}}</td>

        <td class="vertical-aligning" [attr.rowspan]="c.Allproducts.length+1">
          {{ c.exchangefee?(c.exchangefee | number:'1.2-2' ) :0 }} {{symbol}}</td>
        <td class="vertical-aligning" [attr.rowspan]="c.Allproducts.length+1">
          {{ c.historical_data.direct_billing}}</td>
        <td class="vertical-aligning" *ngIf="page==='cart'"><span class="btn btn-danger fa fa-trash"
            (click)="delCaddies(c.Allproducts[0].id_undercmd)"></span>
        </td>
      </tr>

      <tr *ngFor="let prod of c.Allproducts;let i=index">
        <ng-container *ngIf="i!=0">
          <td>{{ dataset[prod.dataset] }}</td>
          <td>{{prod.qhid}}</td>
          <td>{{prod.eid}}</td>
          <td>{{prod.symbol}}</td>
          <td>{{prod.description}}</td>
          <td>{{prod.assetClass}}</td>
          <td>{{ prod.mics }}</td>
          <td>{{prod.subscription==1?' Subscription' : 'One Time'}}</td>
          <td>{{prod.subscription === 1?prod.period:'-'}}</td>
          <td *ngIf="page==='cart';else simpleBeginDate ">
            <ng-container *ngIf="prod.subscription == 0">
              <input [matDatepicker]="picker" (dateChange)="DateChange(prod,'begin_date',$event)"
                [(ngModel)]="prod.begin_date" [min]="prod.begin_date_ref">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </ng-container>
          </td>
          <ng-template #simpleBeginDate>
            <td> {{ prod.begin_date | date:'yyyy-MM-dd' }}</td>
          </ng-template>
          <td *ngIf=" page==='cart';else  simpleEndDate ">
            <ng-container *ngIf="prod.subscription == 0">
              <input [matDatepicker]="picker" (dateChange)="DateChange(prod,'end_date',$event)"
                [(ngModel)]="prod.end_date" [max]="prod.end_date_ref" [min]="prod.begin_date_ref">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </ng-container>
          </td>
          <ng-template #simpleEndDate>
            <td> {{ prod.end_date | date:'yyyy-MM-dd' }}</td>
          </ng-template>
          <td class="vertical-aligning">{{ prod.pricingTier }}</td>
          <td class="vertical-aligning">{{ prod.ht | number:'1.2-2' }} {{symbol}}</td>
          <td class="vertical-aligning" *ngIf="page==='cart'"><span class="btn btn-danger fa fa-trash"
              (click)="delCaddies(prod.id_undercmd)"></span>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>