<div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <div class="panel panel-primary" *ngIf="message">
          <div class="panel-heading">
            <h5 class="text-center">{{message}}</h5>
          </div>
        </div>
        <table class="row-border hover dataTable" width="100%">
          <thead>
            <tr>
              <th width="50%" colspan="2" class="text-center bord">Payment Method</th>
              <th width="50%" colspan="2" class="text-center bord">Auto-Validation / Finance</th>
            </tr>
            <tr>
              <th class="bord text-center">Name</th>
              <th class="bord text-center">Active</th>
              <th class="bord text-center">Security Deferral (in hours)</th>
              <th class="bord text-center">Maximum Order Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments" class="clickable">
              <td class="text-center" *ngIf="row === '' || row !== payment._id" (click)="detail(payment)">{{ payment.name }}</td>
              <td *ngIf="row === '' || row !== payment._id" (click)="detail(payment)">
                <span class="fa fa-check-circle text-success text-center" *ngIf="payment.active === '1'"></span>
                <span class="fa fa-times-circle text-danger text-center" *ngIf="payment.active === '0'"></span>
              </td>
              <td class="text-center" *ngIf="(row === '' || row !== payment._id) && payment.id !== 'banktransfer'" (click)="detail(payment)">{{ payment.delay }}</td>
              <td class="text-center" *ngIf="(row === '' || row !== payment._id) && payment.id !== 'banktransfer'" (click)="detail(payment)">{{ payment.max }}</td>
              <td colspan="4" *ngIf="row === payment._id">
                {{ payment.name }} is active ? 
                <label><input type="radio" name="active" [(ngModel)]="payment.active" value="1"> Yes</label>
                <label><input type="radio" name="active" [(ngModel)]="payment.active" value="0"> No</label>
                <div class="form-group input-group" style="width: 250px; text-align: center; margin: auto; padding: 5px;" *ngIf="payment.id !== 'banktransfer'">
                  <span class="input-group-addon">Security Difference</span>
                  <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="payment.delay" placeholder="xx (Hour)" type="text">
                </div>
                <div class="form-group input-group" style="width: 250px; text-align: center; margin: auto; padding: 5px;" *ngIf="payment.id !== 'banktransfer'">
                  <span class="input-group-addon">Max Order Amount</span>
                  <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="payment.max" placeholder="xx (EUR)" type="text">
                </div>
                <button class="btn btn-success" (click)="save(payment)">Save</button> <button class="btn btn-danger" (click)="cancel(payment)">Cancel</button>
              </td>
              <td colspan="2" class="bg-grey" *ngIf="(row === '' || row !== payment._id) && payment.id === 'banktransfer'"></td>
            </tr>
            <tr *ngIf="payments?.length == 0">
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>