<div class="row" [formGroup]="loginForm">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-5">

                        <mat-form-field>
                            <mat-label>Enter your new password</mat-label>
                            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
                                name="newPassword" required>
                            <button mat-icon-button matSuffix (click)="hideNew = !hideNew"
                                [attr.aria-label]="'Hide password'" [disabled]="disableNew"
                                [attr.aria-pressed]="hideNew">
                                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error>Field required</mat-error>
                        </mat-form-field><br />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">

                        <mat-form-field>
                            <mat-label>Confirm your new password</mat-label>
                            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                                (keyup)="disableViewNew()" name="confirmPassword" required>
                            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </button>
                            <mat-error>Field required</mat-error>
                            <mat-hint style="color: #f44336;"
                                *ngIf="loginForm.controls.confirmPassword.value != loginForm.controls.newPassword.value ">
                                Password does not match </mat-hint>
                        </mat-form-field><br />
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="forRegister" mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button color="warn" matStepperNext *ngIf="forRegister"
                    [disabled]="loginForm.controls.confirmPassword.value != loginForm.controls.newPassword.value "
                    (click)="sendPassword()">Next</button>
                <button mat-raised-button color="warn" *ngIf="!forRegister"
                    [disabled]="loginForm.controls.confirmPassword.value != loginForm.controls.newPassword.value || !loginForm.valid"
                    (click)="sendPassword()">Update password</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>