<!-- navbar top -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
  <!-- navbar-header -->
      <a class="navbar-brand" routerLink="{{link}}">
        <img id="logo" src="assets/img/logo.gif" title="Quanthouse" alt="logo Quanthouse">
      </a>
  <!-- end navbar-header -->
  <!-- navbar-top-links -->
  <!-- Navbar clients -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="role.length === 0 || !role ">
        <li class="nav-item"><a class="nav-link" routerLink = "/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink = "/about">About QH</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink = "/help">Help</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink = "/login">Login</a></li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="role.indexOf('Client') != -1 ">
          <li class="nav-item"><a class="nav-link" routerLink = "/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink = "/account">My Profile</a></li>
          <li class="nav-item"><a class="nav-link" routerLink = "/order/history">Order History</a></li>
          <li class="nav-item"><a class="nav-link" routerLink = "/about">About QH</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink = "/help">Help</a></li> -->
          <li class="nav-item"><a class="nav-link" routerLink = "/order/caddies"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="role.indexOf('Administrator') != -1 ">
          <li class="nav-item clickable"><a class="nav-link" routerLink = "/admin/role">Administration</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="role.indexOf('Compliance') != -1 ">
          <li class="nav-item"><a class="nav-link" routerLink = "/compliance/orders">Compliance</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="role.indexOf('Product') != -1 ">
          <li class="nav-item"><a class="nav-link" routerLink = "/product/orders">Product</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="role.indexOf('Finance') != -1 ">
          <li class="nav-item"><a class="nav-link" routerLink = "/finance/orders">Finance</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="role.length > 0 || role ">
          <li class="nav-item clickable"><a class="nav-link" (click)="logout()">Logout</a></li>
        </ul>
      </div>
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div> -->
  <!-- Navbar Admins -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div> -->

  <!-- Navbar Compliances  -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div> -->

  <!-- Navbar Products  -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div> -->

  <!-- Navbar Finances  -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div> -->

  </nav>
  <!-- end navbar top -->
  