<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/']">Home</li>
      <li class="current-bread-crumb">About QH</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <div class="row panel-body">
    <div class="col-lg-12 col-md-12">
      <p>QuantHouse is the global independent provider of high performance API-based market data,  AI and Algo trading solutions.</p>
      <br>
      <p>Since May 2019, QuantHouse is part of Iress (IRE.ASX), a technology company that provides software to the financial services industry.
        Iress’ software is used by more than 9,000 businesses and 500,000 users globally.  <a href="http://www.iress.com" title="Iress">www.iress.com</a><br>
        QuantHouse helps hedge funds, market makers, investment banks, brokers and trading venues achieve optimal trading performance,
        develop and integrate new trading strategies, comply with regulatory requirements, test existing and new trading infrastructure tools and rationalise operating costs.</p>
      <br>
      <p>QuantHouse provides high performance API-based end-to-end systematic trading solutions with:</p>
      <ul>
        <li>* QuantFEED, ultra-low latency market data technologies,</li>
        <li>* QuantFACTORY, algo-trading development framework, and</li>
        <li>* QuantLINK, proximity hosting and order routing services.</li>
      </ul>
      <p>The "QuantHouse API Ecosystem” is a unique global initiative with the objective to provide the framework
        within which capital markets participants can quickly and easily gain access to multiple trading venues, technologies or applications through standard APIs.
        The QuantHouse API Ecosystem has developed over time to what is now the largest API ecosystem community of buy- and sell-side participants, exchanges, prime brokers,
        trading venues, hedge funds, market makers and other financial services partners and vendors.
      </p>
    </div>
  </div>
</div>