<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/admin']">Home</li>
      <li class="bread-crumb" [routerLink]="['/admin/variable']">Administration</li>
      <li class="current-bread-crumb">Environment Variables</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <div class="row">
    <app-configuration></app-configuration>
    <div class="col-md-11">
      test
    </div>
  </div>
</div>