<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb custom-breadcrumb">
      <li class="active">About QH</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <div class="row panel-body">
    <div class="col-lg-12 col-md-12">
      <p>QuantHouse is the global independent provider of high performance API-based market data and algo trading services.</p>
      <br>
      <p>Created in 2005 by a group of managers, IT experts and quant traders from the hedge fund and fintech communities, 
        the team shares a combined vision that technology and finance will merge to the point that over time, automated and systematic trading will dominate. 
        This vision has been corroborated through the rapid evolution of the capital markets over the last ten years, 
        positioning QuantHouse as the default global provider in advanced trading solutions.</p>
      <br>
      <p>For further information, please visit our website – <a href="https://www.quanthouse.com" target="_blank">www.quanthouse.com</a></p>
    </div>
  </div>
</div>