<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb custom-breadcrumb">
      <li class="active">Support</li>
      <li class="active">Client Orders</li>
      <li class="active">Order Details </li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <app-menusupport></app-menusupport>
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Support View">
        <div class="col-md-11 center-tab-content">
          <div class="table-responsive">
            <div class="panel panel-primary" *ngIf="message">
              <div class="panel-heading">
                <h5 class="text-center">{{message}}</h5>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="table-responsive container row">
                <div class="col-md-6">
                  <p>Order ID : <b> {{ idOrder }}</b></p>
                  <p>Submission Date and Time : <b> {{ submissionDate | date:'medium' }}</b></p>
                  <p>Payment method : <b>{{ payment }}</b></p>
                  <p>Invoice : <b><a *ngIf="invoice!=undefined" target="_blank"
                        [href]="'/files/invoice/' + invoice + '.pdf'">{{invoice}} </a></b></p>
                  <p>Order Status : <b><span [class]="textcolor">{{ getStateName(state) }}</span></b>
                </div>
                <div class="col-md-6">
                  <p>Company Name: <b>{{ company }}</b></p>
                  <p>First name : <b>{{ firstname }}</b></p>
                  <p>Last name : <b>{{ lastname }}</b></p>
                  <p>Job role : <b>{{ job }}</b></p>
                  <p>Country : <b>{{ countryBilling }}</b></p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Item #</th>
                    <th>Data Set</th>
                    <th>Symbol</th>
                    <th>Exchange</th>
                    <th>Product ID</th>
                    <th>Purchase Type</th>
                    <th>Engagement Period<br>(month)</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Pricing Tier</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of cart"
                    [ngClass]="{ 'danger':c.status==='failed', 'warning':c.status==='running', clickable: true }"
                    (click)="detail(c)">
                    <td *ngIf="!c.print">{{ c.idx}}</td>
                    <td *ngIf="!c.print">{{ datasets[c.quotation_level] }}</td>
                    <td *ngIf="!c.print">{{ c.symbol }}</td>
                    <td *ngIf="!c.print">{{ c.exchange }}</td>
                    <td *ngIf="!c.print">{{ c.eid }}</td>
                    <td *ngIf="c.onetime === 1 && !c.print">One-Off</td>
                    <td *ngIf="c.subscription === 1 && !c.print">Subscription</td>
                    <td *ngIf="c.subscription === 1 && !c.print">{{c.period}}</td>
                    <td *ngIf="c.subscription === 1 && !c.print && !c.begin_date_select"></td>
                    <td *ngIf="c.subscription === 1 && !c.print && !c.end_date_select"></td>
                    <td *ngIf="c.subscription === 1 && !c.print && c.begin_date_select">
                      {{ c.begin_date_select | date:'yyyy-MM-dd' }}</td>
                    <td *ngIf="c.subscription === 1 && !c.print && c.end_date_select">
                      {{ c.end_date_select | date:'yyyy-MM-dd' }}</td>
                    <td *ngIf="c.subscription === 0 && !c.print"></td>
                    <td *ngIf="c.subscription === 0 && !c.print">{{ c.begin_date_select | date:'yyyy-MM-dd' }}</td>
                    <td *ngIf="c.subscription === 0 && !c.print">{{ c.end_date_select | date:'yyyy-MM-dd' }}</td>
                    <td *ngIf="!c.print">{{ c.pricingTier }}</td>
                    <td *ngIf="!c.print">{{ getHt(c.ht) | number:'1.2-2' }} {{ symbols[currency] }}</td>
                    <td class="bg-grey" colspan="9" *ngIf="c.print"></td>
                    <td *ngIf="(c.backfill_fee || c.ongoing_fee)"><b>Exchange Fees</b></td>
                    <td *ngIf="(c.backfill_fee || c.ongoing_fee)">
                      {{ getHt((c.backfill_fee ? c.backfill_fee : c.ongoing_fee)) | number:'1.2-2' }}
                      {{ symbols[currency] }}</td>
                    <td>{{ c.status }}</td>
                    <td>
                      <div class="btn-group" *ngIf="c.onetime === 1">
                        <button type="button" class="btn btn-success fa"
                          (click)="retryMode='delta';openModal(retrymodal);">Retry Delta</button>
                        <button type="button" class="btn btn-success fa dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false" data-placement="right">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a (click)="retryMode='full';openModal(retrymodal);">Retry Full</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="cart?.length === 0">
                    <td colspan="11" class="no-data-available">Empty !</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel panel-primary" *ngIf="item">
              <div class="table-responsive container">
                <div class="col-lg-12">
                  <h4 [ngClass]="{ 'text-danger':item.status==='failed', 'text-warning':item.status==='running' }">
                    Status :
                    {{item.status}}</h4>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <label for="idelement">Item : {{ item.idElem }}</label>
                    </li>
                    <li class="list-group-item">
                      <label>Logs :</label>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let log of item.logs">
                          <pre
                            [ngClass]="{ 'alert-danger':log.status==='failed', 'alert-warning':log.status==='running' }">{{ log | json }}</pre>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="table-responsive text-center">
                <div class="btn-action">
                  <span class="btn btn-success fa fa-handshake" *ngIf="verifState()"
                    (click)="openModal(content); actions('Confirm Client Order Validation')"> Validate</span>
                </div>
              </div>
            </div>
          </div>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h5 class="modal-title"><b>{{ action }}</b></h5>
              <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-right">
              <button type="button" class="btn btn-danger" (click)="confirm(); c('')">Confirm</button>
              <button type="button" class="btn btn-light" (click)="c('')">Close</button>
            </div>
          </ng-template>

          <ng-template #retrymodal let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h5 class="modal-title"><b>{{ retryMode | titlecase }} Retry</b></h5>
              <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Sending a {{ retryMode | titlecase }} Retry request for <strong>{{item.reference}}</strong>
                {{ retryMode==='full' ? "(all dates will be re-exported)" : "(only failed dates will be exported)" }}.
              </p>
              <p class="alert alert-danger" *ngIf="retryMode==='full'">WARNING: Full retries may take considerable time
                and
                resources to complete.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="retry();c('')"
                [disabled]="item.reference ===''">Ok</button>
              <button type="button" class="btn btn-light" (click)="c('')">Cancel</button>
            </div>
          </ng-template>
        </div>
        <div class="table-responsive text-center">
          <div class="btn-action">
            <button mat-button class="bottom-button red-color" [routerLink]='["/support/clientorder"]'><i
                class="fa fa-chevron-left"></i>Back</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Client View">
        <div class="center-tab-content col-md-11">
          <app-order-history-details [isSupport]="true"></app-order-history-details>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>