<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!--  page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
    </div>
    <!-- end  page header -->
  </div>
  <div class="row">
    <app-menu-finance></app-menu-finance>
    <div class="col-md-10 table-responsive text-center">
      <ngb-tabset>
        <ngb-tab title="Exchange Rates">
          <ng-template ngbTabContent>
            <table class="table">
              <thead>
                <th class="text-center">Last Update</th>
                <th class="text-center">Currency</th>
                <th class="text-center">Exchange Rates (EUR)</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of currencies">
                  <td>{{ c.updatedAt | date:'yyyy-MM-dd HH:mm' }}</td>
                  <td>{{ c.device }} ( {{ c.symbol }} )</td>
                  <td>{{ c.taux }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Bank Accounts">
          <ng-template ngbTabContent>
            <app-rib></app-rib>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>