<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/admin']">Home</li>
      <li class="bread-crumb" [routerLink]="['/admin/users']">Administration</li>
      <li class="current-bread-crumb">Users</li>
    </ol>
  </div>
</div>
<div class="container page-content">
  <div class="row padding-row">
    <app-configuration></app-configuration>
    <div class="col-md-3 no-padding">
      <div class="panel panel-default">

        <div class="panel-body height-body list-background-color">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. QuantHouse" (keyup)="getUsersSorted()" #search name="search">
          </mat-form-field>
          <div class="scroll-table mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  First Name </th>
                <td mat-cell *matCellDef="let user"> {{user.firstname}}
                </td>
              </ng-container>
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last
                  Name </th>
                <td mat-cell *matCellDef="let user"> {{user.lastname}}
                </td>
              </ng-container>
              <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Company Name </th>
                <td mat-cell *matCellDef="let user"> {{user.companyName}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns  sticky: true" class="clickable"
                (click)="getUsersSorted()"></tr>
              <tr mat-row *matRowDef="let user; columns: displayedColumns;" class="clickable"
                [ngClass]="{'active': selectedUser === user._id}" (click)="getUser(user._id)"></tr>

            </table>
          </div>
          <mat-paginator *ngIf="totalCount > 0" [pageSizeOptions]="[10, 25, 100]" [length]="totalCount"
            [pageIndex]="page" (page)="getUsersSorted($event)">
          </mat-paginator>
        </div>

      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-8 no-padding">
          <div class="panel panel-default">
            <div *ngIf="user" class="panel-body height-body information-background-style">
              <div class="col-md-11 no-padding">
                <app-roles *ngIf="user?.roleName" [userRoles]="user.roleName" (newUserRoles)="newUserRoles($event)">
                </app-roles>
              </div>
              <div *ngIf="user" class="col-md-1 no-padding">
                <button class="update-button-position" mat-raised-button color="warn" (click)="updateUser()">Update
                  roles</button>
              </div>
              <div class="col-md-12 no-padding margin-informations">
                <app-user-informations [user]="user" *ngIf="user"></app-user-informations>
              </div>
            </div>
            <div *ngIf="!user" class="panel-body height-body no-data-style">
              User not found !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>