.no-padding {
  padding: 0px !important;
}

.margin-informations {
  margin-top: 30px !important;
}

.padding-row {
  padding-top: 10px;
}

.update-button-position {
  float: right;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.button-position {
  margin-top: 13px !important;
}

table {
  width: 99%;
  margin-left: 2px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.scroll-table {
  height: 537px;
  overflow: auto;
  scrollbar-color: #ea663b rgb(246, 246, 246) !important;
  scrollbar-width: thin !important;
}

.mat-footer-row:first-child td {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-footer-cell .mat-paginator {
  margin-left: -24px;
  margin-right: -24px;
}

.height-body {
  height: 705px !important;
  padding-bottom: 0px !important;
}

.information-background-style {
  background-color: #f6f6f6 !important;

  border-color: #ff9100;
  border-top-style: solid;
  border-top-color: #ff9100;
  border-bottom-style: solid;
  border-bottom-color: #ff9100;
}

.list-background-color {
  background-color: #f6f6f663 !important;
}

.mat-row.active {
  background: #f6f6f6;
  border-left-color: #ff9100;
  border-left-style: solid;
  border-right-color: #ff9100;
  border-right-style: solid;
}

.no-data-style {
  text-align: center !important;
  font-size: large !important;
  margin-top: 20px !important;
  color: orangered !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea663b !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c26e00 !important;
}
