.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
  margin-top: 143px;
  width: 9.8vw;
  height: 43.8vw;
  margin-left: 15px;
}
