<app-menu></app-menu>
<div class="row page-header">
    <div class="col-lg-12">
        <ol class="breadcrumb custom-breadcrumb">
            <li class="active">Order History</li>
            <li class="active">Order Details</li>
        </ol>
    </div>
</div>
<div class="container page-content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="panel panel-info">
                        <div class="table-responsive container row">
                            <div class="col-md-6">
                                <p>Order ID: <b> {{ idOrder }}</b></p>
                                <p>Submission Date and Time: <b> {{ submissionDate | date:'medium' }}</b></p>
                                <p>Payment method: <b>{{ payment }}</b></p>
                                <p>Invoice: <b><a *ngIf="invoice!=undefined" target="_blank"
                                            [href]="'/files/invoice/' + invoice + '.pdf'">{{invoice}} </a></b></p>
                                <p>Order Status : <b><span [class]="textcolor">{{ getStateName(state) }}</span></b>
                            </div>
                            <div class="col-md-6">
                                <p>Company Name: <b>{{ company }}</b></p>
                                <p>First name: <b>{{ firstname }}</b></p>
                                <p>Last name: <b>{{ lastname }}</b></p>
                                <p>Job role: <b>{{ job }}</b></p>
                                <p>Country: <b>{{ countryBilling }}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Item #</th>
                                        <th width="80px">Data Set</th>
                                        <th>Instrument ID</th>
                                        <th>Product ID</th>
                                        <th>Symbol</th>
                                        <th>Description</th>
                                        <th>Asset Class</th>
                                        <th>Exchange</th>
                                        <th>MIC</th>
                                        <th>Purchase Type</th>
                                        <th>Engagement Period<br>(month)</th>
                                        <th width="85px">Date From</th>
                                        <th width="85px">Date To</th>
                                        <th>Pricing Tier</th>
                                        <th>Price</th>
                                        <th style="width:100px">Expiration Date</th>
                                        <th>Remaining Days</th>
                                        <!-- <th>Download counter</th> -->
                                        <th width="250px">Deliverables</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of details; let index = index">
                                        <td *ngIf="!detail.print">{{ detail.id }}</td>
                                        <td *ngIf="!detail.print"><span>{{datasets[detail.quotation_level]}}</span>
                                        </td>
                                        <td *ngIf="!detail.print">{{ detail.qhid }}</td>
                                        <td *ngIf="!detail.print">{{ detail.eid }}</td>
                                        <td *ngIf="!detail.print">{{ detail.symbol }}</td>
                                        <td *ngIf="!detail.print">{{ detail.description }}</td>
                                        <td *ngIf="!detail.print">{{ detail.assetClass }}</td>
                                        <td *ngIf="!detail.print">{{ detail.exchange }}</td>
                                        <td *ngIf="!detail.print">{{ detail.mics }}</td>
                                        <td *ngIf="detail.onetime === 1">One-Off delivery</td>
                                        <td *ngIf="detail.subscription === 1 && !detail.print">Recurrent delivery
                                            (Subscription)</td>
                                        <td *ngIf="detail.subscription === 1">{{ detail.period }}</td>
                                        <td *ngIf="detail.subscription === 0"></td>
                                        <td *ngIf="!detail.print">{{ detail.begin_date_select | date:'yyyy-MM-dd' }}
                                        </td>
                                        <td *ngIf="!detail.print">{{ detail.end_date_select | date:'yyyy-MM-dd' }}
                                        </td>
                                        <td *ngIf="!detail.print">{{ detail.pricingTier }}</td>
                                        <td *ngIf="!detail.print">
                                            {{ getHt(detail.ht) | number:'1.2-2' }}&nbsp;{{ symbols[currency] }}
                                        </td>
                                        <td *ngIf="!detail.print">
                                            <span *ngFor="let lk of detail.links | callback: filterUser"
                                                [class]="detail.subscription === 1 ? 'cap souscription' : 'cap'">
                                                {{ limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate) | date:'yyyy-MM-dd' }}
                                            </span>
                                        </td>
                                        <td *ngIf="!detail.print">
                                            <span *ngFor="let lk of detail.links | callback: filterUser"
                                                [class]="detail.subscription === 1 ? 'cap souscription' : 'cap'">
                                                <span>{{ dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day>0?dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day + 1:0 }}</span>
                                            </span>
                                        </td>
                                        <!-- <td *ngIf="!detail.print">0</td> -->
                                        <td *ngIf="!detail.print">
                                            <!-- <a (click)="bulkdownload()">test</a><br> -->
                                            <span *ngFor="let lk of detail.links | callback: filterUser">
                                                <!-- <span *ngIf="dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day > 0 && lk.status === 'active'"> -->
                                                <span *ngIf="detail.subscription === 1" class="cap souscription">
                                                    <span *ngFor="let links of lk.links">
                                                        <div *ngFor="let link of links.link.split('|')">
                                                            <a href="{{gateway}}/api/user/download/{{token}}/{{ lk.path }}/{{ link }}"
                                                                target="_blank"
                                                                *ngIf="dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day>0 && link && lk.status === 'active'">{{ link }}</a>
                                                            <span
                                                                *ngIf="dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day<=0">
                                                                {{ link }}
                                                            </span>
                                                        </div>
                                                    </span>
                                                </span>
                                                <!-- <span *ngIf="lk.onetime === 1 && lk.links[0].link.split('|').length > period[0].linkPerFile"> -->
                                                <span
                                                    *ngIf="detail.onetime === 1 && countLink(lk.links) > period[0].linkPerFile"
                                                    class="cap">
                                                    <i class="fa fa-upload text-color fa-3x clickable"
                                                        (click)="dynamicDownloadByHtmlTag(detail.idC, detail.quotation_level, detail.eid, detail.symbol, detail.assetClass, 'One-Off', detail.begin_date_select, detail.end_date_select, lk.links, lk.path)"></i>
                                                    <!-- <i class="fa fa-upload text-color fa-3x clickable" (click)="dynamicDownloadByHtmlTag(detail.idC+'_'+datasetsLink[detail.quotation_level]+'_'+detail.eid+'_one-off-¤'+detail.begin_date_select+'¤'+detail.end_date_select, lk.links, lk.path, detail.assetClass)" ></i> -->
                                                </span>
                                                <span
                                                    *ngIf="detail.onetime === 1 && countLink(lk.links) < period[0].linkPerFile"
                                                    class="cap">
                                                    <!-- <span *ngIf="lk.onetime === 1 && lk.links[0].link.split('|').length < period[0].linkPerFile"> -->
                                                    <span *ngFor="let links of lk.links">
                                                        <div *ngFor="let link of links.link.split('|')">
                                                            <a href="{{gateway}}/api/user/download/{{token}}/{{ lk.path }}/{{ link }}"
                                                                target="_blank"
                                                                *ngIf="dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day>0 && link && lk.status === 'active'">{{ link }}</a>
                                                            <span
                                                                *ngIf="dateDiff(today, limitDownLoad(detail.onetime, detail.subscription, lk.createLinkDate)).day<=0">
                                                                {{ link }}
                                                            </span>
                                                        </div>
                                                    </span>
                                                </span>
                                                <!-- </span> -->
                                            </span>
                                        </td>
                                        <td class="bg-grey" colspan="12" *ngIf="detail.print"></td>
                                        <td colspan="2" *ngIf="(detail.backfill_fee || detail.ongoing_fee)">
                                            <b>Exchange Fees</b></td>
                                        <td *ngIf="(detail.backfill_fee || detail.ongoing_fee)">
                                            {{ getHt((detail.backfill_fee ? detail.backfill_fee : detail.ongoing_fee)) | number:'1.2-2' }}
                                            {{ symbols[currency] }}</td>
                                        <td class="bg-grey" colspan="4" *ngIf="detail.print"></td>
                                    </tr>
                                    <tr *ngIf="cart?.length === 0">
                                        <td colspan="11" class="no-data-available">Empty !</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-responsive container">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <table class="border-color-sum">
                                <tr>
                                    <td>Exchange Fees</td>
                                    <td>{{totalExchangeFees | number:'1.2-2'}} {{ symbols[currency] }}</td>
                                </tr>
                                <tr>
                                    <td>Order Amount</td>
                                    <td>{{totalHT | number:'1.2-2'}} {{ symbols[currency] }}</td>
                                </tr>
                                <tr *ngIf="discount > 0">
                                    <td>Discount (%)</td>
                                    <td>{{discount}}</td>
                                </tr>
                                <tr>
                                    <td>Taxes (VAT : {{ vat * 100}}% )</td>
                                    <td>{{totalVat | number:'1.2-2'}} {{ symbols[currency] }}</td>
                                </tr>
                                <tr>
                                    <td>TOTAL Order Amount</td>
                                    <td>{{totalTTC | number:'1.2-2'}} {{ symbols[currency] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="table-responsive text-center">
                        <div class="btn-action">
                            <span class="btn btn-warning fa fa-trash" (click)="openModal(content)" *ngIf=" (state === 'PVC' ||
                          state === 'PVP' ||
                          state === 'PVF') && payment !== 'creditcard'"> Cancel Order</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Cancel Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirm(); c('')">Confirm</button>
        <button type="button" class="btn btn-light" (click)="c('')">Close</button>
    </div>
</ng-template>