<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!--  page header -->
    <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
    </div>
    <!-- end  page header -->
  </div>
  
    <!-- Edit utilisateur -->
    <div class="row">
      <div [class]="coll">
        <!-- Advanced Tables -->
        <div [class]="pnl">
          <div class="panel-heading" *ngIf="message">
            <h4 class="text-center">{{message}}</h4>
          </div>
          <div class="panel-body" [hidden]="term">
            <form #userForm="ngForm" role="form">
              <fieldset class="form-group">
                <legend>Contact Information</legend>
                <div [class]="colg">
                  <div class="form-group input-group">
                    <span class="input-group-addon">First Name*</span>
                    <input type="text"  name="newfirstname" class="form-control" placeholder="Fisrt Name" [(ngModel)]="user['firstname']" #newfirstname="ngModel" ngModel required>
                    <show-errors [control]="newfirstname"></show-errors>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Last Name*</span>
                    <input type="text" name="newlastname" class="form-control" placeholder="Last Name" [(ngModel)]="user['lastname']" #newlastname="ngModel" ngModel required>
                    <show-errors [control]="newlastname"></show-errors>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Job Role*</span>
                    <input type="text" name="newjob" class="form-control" [(ngModel)]="user['job']" placeholder="Job role" #newjob="ngModel" ngModel required>
                    <show-errors [control]="newjob"></show-errors>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Company Name*</span>
                    <input type="text" name="newcompanyname" class="form-control" [(ngModel)]="user['companyName']" placeholder="Company name" #newcompanyname="ngModel" ngModel required>
                    <show-errors [control]="newcompanyname"></show-errors>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Company Type</span>
                    <select name="newCompanyType" class="form-control" [(ngModel)]="user['companyType']" ngModel>
                      <option value="">Selected Company Type</option>
                      <option *ngFor='let ct of companyType' [value]="ct.id">{{ct.name}}</option>
                    </select>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Country*</span>
                    <select name="newcountry" class="form-control" [(ngModel)]="user['country']" ngModel #newcountry="ngModel" required>
                      <option value="">Select country</option>
                      <option *ngFor='let c of country' [value]="c.id">{{c.name}}</option>
                    </select>
                    <show-errors [control]="newcountry"></show-errors>
                  </div>
                </div>
                <div [class]="colg">
                  <div class="form-group input-group">
                    <span class="input-group-addon">Address</span>
                    <input type="text" name="newAddress" class="form-control" placeholder="Address" [(ngModel)]="user['address']">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Postal Code</span>
                    <input type="text" name="newPostalCode" class="form-control" [(ngModel)]="user['postalCode']" placeholder="Postal Code">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">City</span>
                    <input type="text" name="newCity" class="form-control" [(ngModel)]="user['city']" placeholder="City">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">State/Province/Region</span>
                    <input type="text" name="newRegion" class="form-control" [(ngModel)]="user['region']" placeholder="State/Province/Region">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Primary Phone Number</span>
                    <input type="tel" name="newPhone" class="form-control" [(ngModel)]="user['phone']" placeholder="Phone">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Website</span>
                    <input type="tel" name="newWebsite" class="form-control" [(ngModel)]="user['website']" placeholder="Website">
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Login Information</legend>
                <div class="col-lg-4 col-lg-offset-4">
                  <div class="form-group input-group">
                    <span class="input-group-addon">Email*</span>
                    <input type="email" name="newemail" class="form-control" placeholder="Email" emailString [(ngModel)]="user['email']" (change)="verifMail()" #newemail="ngModel" ngModel required>
                    <div class="alert alert-danger" *ngIf="exist && user['email'] !== '' && page === '/register'"><span>This email already exists</span></div>
                    <show-errors [control]="newemail"></show-errors>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Password*</span>
                    <input type="password" name="newpassword"  class="form-control" [(ngModel)]="user['password']" #newpassword="ngModel" mdp ngModel required>
                    <div class="alert alert-danger" *ngIf="isValidPwd">
                      <span>Password does not match the confirm password</span>
                    </div>
                    <show-errors [control]="newpassword"></show-errors>
                  </div>
                  <div class="form-group input-group" *ngIf="page === '/register'">
                    <span class="input-group-addon">Confirm password*</span>
                    <input type="password" name="newconfirmation" class="form-control" [(ngModel)]="confirmation" #newconfirmation="ngModel" ngModel required>
                    <div class="alert alert-danger" *ngIf="isValidPwd">
                      <span>Password does not match the confirm password</span>
                    </div>
                    <show-errors [control]="newconfirmation"></show-errors>
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group" *ngIf="page === '/account'">
                <legend>Billing Information</legend>
                <div class="col-lg-6">
                  <div class="form-group input-group">
                    <span class="input-group-addon">VAT Number<b class="valid" *ngIf="checkv && user.vat !==''">✓</b></span>
                    <input type="text" name="newvat" [class]="loadvat" placeholder="VAT Number" (change)="checkVat()" [(ngModel)]="user.vat" #newvat="ngModel" ngModel>
                    <div class="alert alert-danger" *ngIf="(!user.vat && loadvat === 'form-control') || !user.checkvat "><span>You have entered an invalid VAT Number</span></div>
                  </div>
                  <input type="checkbox" name="sameaddress" (change)="sameAddress()"  [(ngModel)]="user.sameAddress"> Same as Contact Address
                  <div class="form-group input-group">
                    <span class="input-group-addon">Address*</span>
                    <input type="text" name="addressBilling" class="form-control" placeholder="Billing Address" [(ngModel)]="user.addressBilling" ngModel>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">City*</span>
                    <input type="text" name="cityBilling" class="form-control" placeholder="Billing City" [(ngModel)]="user.cityBilling" ngModel>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Postal Code*</span>
                    <input type="text" name="postalCodeBilling" class="form-control" placeholder="Billing Postal Code" [(ngModel)]="user.postalCodeBilling"  ngModel>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Country*</span>
                    <select name="countryBilling" class="form-control" [(ngModel)]="user.countryBilling" ngModel #newcountry="ngModel" required>
                      <option value="">Select country</option>
                      <option *ngFor='let c of country' [value]="c.id">{{c.name}}</option>
                    </select>
                    <show-errors [control]="newcountry"></show-errors>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group input-group">
                    <div class="col-lg-6 panel panel-primary">
                      <h4>Please select your payment method</h4>
                      <label class="radio" *ngFor="let payment of payments">
                        <input type="radio" name="payment" [value]="payment.id" [(ngModel)]="user.payment"> {{ payment.name }}
                      </label>
                    </div>
                    <div class="col-lg-6 panel panel-primary">
                      <h4>Please select your billing currency</h4>
                      <label class="radio" *ngFor="let currency of currencies">
                        <input type="radio" name="currency" [value]="currency.id" [(ngModel)]="user.currency" [title]="currency.name"> {{ currency.device }}
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="col-lg-4 col-lg-offset-4" *ngIf="page === '/account'">
                <input type="checkbox" name="newcommercial"  [(ngModel)]="user.commercial" value="usercommercial"> Subscribe to commercial emails
              </div>
              <div class="col-lg-4 col-lg-offset-4" *ngIf="page === '/register'">
                  <input type="checkbox" name="newcgv" value="user.cgv" [(ngModel)]="user.cgv" #newcgv="ngModel" ngModel required>
                  <a (click)="cgv()">I agree to QH’s term & services, and cookie policy</a><br>
                  <input type="checkbox" name="newcommercial"  [(ngModel)]="user.commercial" value="usercommercial"> Subscribe to commercial emails
              </div>
              <div class="col-lg-12 col-lg-offset-5" *ngIf="page === '/register' ">
                <re-captcha 
                  (resolved)="resolved($event)"
                  [siteKey]="key"
                ></re-captcha>
              </div>
              <div class="col-lg-12 col-lg-offset-5">
                <a routerLink="/home" class="btn btn-default" *ngIf="page === '/account'">Cancel</a>
                <a routerLink="/login" class="btn btn-default" *ngIf="page === '/register'">Cancel</a>
                <button 
                  (click)="register() "
                  class="btn btn-success"
                  *ngIf="page === '/register'"
                  [disabled]="userForm.invalid || userForm.pending || checkrobot || exist"
                >Register</button>
                <button class="btn btn-success" *ngIf="page === '/account'" [disabled]="userForm.invalid || userForm.pending" (click)="update()">Update</button>
              </div>
            </form>
          </div>
          <div class="panel-body" [hidden]="!term">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in lectus at nulla pellentesque suscipit in ac nisi. Suspendisse potenti. Pellentesque magna libero, sollicitudin et pharetra id, congue id neque. Aliquam sit amet varius arcu. Duis at feugiat sem, ac fermentum purus. Mauris posuere neque eget tempor porta. Pellentesque a dictum mi. Integer porta urna a nisi placerat ornare. Curabitur vitae nisi eget nunc aliquet laoreet ut ac risus. Pellentesque maximus sem eu lobortis finibus. Cras blandit et felis vel cursus. Phasellus eget pellentesque lectus.

              Fusce eu est arcu. Curabitur et accumsan purus, vitae vestibulum eros. Vestibulum luctus enim a orci pulvinar, ac convallis est molestie. Donec lobortis et ante in placerat. Cras ultricies varius ante ac sagittis. Nam nibh nisl, bibendum ut dolor vitae, iaculis vulputate lorem. Aliquam vehicula nisi maximus libero pellentesque tristique. Quisque eu faucibus libero, non condimentum quam. Maecenas placerat lectus non nisi convallis, vitae bibendum neque suscipit. Nullam vitae magna vitae metus dignissim ultricies sed sed mi. Curabitur lacinia, mi eget gravida pretium, quam mi commodo neque, sed posuere turpis turpis tincidunt quam. Cras consequat hendrerit nulla eget malesuada. Praesent id magna quis tortor placerat rutrum. Nam eu facilisis nisi, at venenatis tellus. Mauris sem mauris, sollicitudin eu turpis et, euismod fringilla neque.
              
              Nam placerat interdum tellus, et congue dui placerat non. Ut non ex volutpat, cursus leo vel, hendrerit ante. In efficitur neque vitae libero convallis semper. Vestibulum condimentum blandit ligula, vel molestie erat molestie congue. Integer venenatis, nunc ut volutpat pulvinar, odio sapien auctor diam, ac pellentesque erat turpis vehicula nibh. Praesent laoreet mattis magna, non tincidunt diam eleifend a. Vivamus eget felis congue, condimentum lacus eu, mattis nulla. Sed feugiat nibh sed vulputate ultricies. Ut laoreet pharetra magna vitae dignissim. Quisque maximus leo sagittis, pharetra sem ut, dictum enim.
              
              Donec ac pellentesque est. Donec quis erat id est pulvinar blandit faucibus eget mauris. Nullam eu lectus pharetra, venenatis justo eget, pretium turpis. Quisque elementum condimentum rhoncus. Nulla venenatis arcu id mi vehicula, sed consequat turpis aliquam. Vivamus pellentesque imperdiet leo, et feugiat massa tempus eget. Nam quis eleifend dolor. Pellentesque ac aliquet felis. Donec laoreet at lorem vel pellentesque.
              
              Sed porta justo ut risus cursus molestie. In hac habitasse platea dictumst. Integer faucibus ex dui, sed ultricies tortor elementum id. Praesent pulvinar quam vitae massa porttitor, in malesuada turpis vestibulum. In ex lectus, volutpat ut sagittis id, interdum rhoncus orci. In quis semper justo. Aliquam auctor placerat magna, vitae facilisis nisi suscipit ut. Etiam eleifend vel eros vitae vehicula. Vivamus tempor sapien quis ante mollis, vitae maximus sapien consequat. Morbi luctus, lacus aliquam ultrices sagittis, justo dolor interdum nisl, a efficitur ante felis non lorem. Sed vulputate sem vitae velit accumsan suscipit. Cras sit amet dapibus ipsum, eget congue libero. Nulla facilisi. Sed sed lobortis ligula, a tristique magna. Vestibulum at ligula volutpat, scelerisque neque consequat, pretium lectus. Proin sit amet nulla vitae dolor mollis tincidunt eu ut risus.
            <button (click)="cgvClose()">Close</button>      
          </div>
        </div>
      </div>
    </div>
    <!-- End EditListes utilisateur -->
  </div>