<mat-card-header>
    <mat-card-title>Order Amount</mat-card-title>
</mat-card-header>
<mat-card-content class="align">
    <mat-list>
        <mat-list-item><span>Exchange Fees</span></mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item><span>Order Amount</span></mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item><span>Discount (%)</span></mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item><span>Taxes (VAT : {{ orderAmount.vat * 100}}% )</span></mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="bold grey">TOTAL Order Amount</mat-list-item>
    </mat-list>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list>
        <mat-list-item>{{orderAmount.totalExchangeFees | number:'1.2-2'}} {{ symbols[orderAmount.currency] }}
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>{{orderAmount.totalHT | number:'1.2-2'}} {{ symbols[orderAmount.currency] }}</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>{{orderAmount.discount}} %</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>{{orderAmount.totalVat | number:'1.2-2'}}{{ symbols[orderAmount.currency] }}</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="bold">{{orderAmount.totalTTC | number:'1.2-2'}} {{ symbols[orderAmount.currency] }}
        </mat-list-item>
    </mat-list>
</mat-card-content>