.align{
    display: flex;
    margin-bottom: 0px !important;
}

.mat-list-item{
    font-size: 13px;
    font-weight: 500;
}
.mat-header-cell {
    text-align: center;
}

.mat-cell {
    font-size: 12px;
}

.mat-card {
    box-shadow: 0px 10px 20px -15px black;
    padding-top: 1rem;
    border-left: 0 solid #ED6540;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}


.mat-card:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #ED6540;
}

.mat-list-item span {
    color: rgb(116, 116, 116);
    font-weight: 400;
}
