<mat-card-header>
    <mat-card-title>Order Cancellation</mat-card-title>
    <mat-card-subtitle>Order ID: {{commandId}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <p>
        Are you sure you want to proceed ?
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="bottom-button green-color confirm-button" routerLink="/order/history" mat-button
        (click)="confirm(); onNoClick()" cdkFocusInitial><i class="fa fa-check"></i> Confirm</button>
    <button class="bottom-button red-color close-button" mat-button (click)="onNoClick()"><i class="fa fa-times"></i>
        Cancel</button>
</mat-card-actions>