<mat-card class="col-lg-6">
  <mat-card-subtitle>Billing Information</mat-card-subtitle>
  <mat-card-content>
    <div [formGroup]="form" class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput type="text" (change)="checkVat()" placeholder="VAT Number" formControlName="vatctl">
          <mat-hint style="color: #f44336;" *ngIf="invalidVat">You have entered an invalid VAT Number
          </mat-hint>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="text" placeholder="Billing Address" formControlName="addressBillingctl" required>
          <mat-error>Field required</mat-error>

        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="text" name="cityBilling" placeholder="Billing City" formControlName="cityBillingctl"
            required>
          <mat-error>Field required</mat-error>

        </mat-form-field><br>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput type="text" name="postalCodeBilling" placeholder="Billing Postal Code"
            formControlName="postalCodeBillingctl" required>
          <mat-error>Field required</mat-error>

        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Select Country</mat-label>
          <mat-select (selectionChange)="changecountry($event)" name="countryBilling" formControlName="countryBillingctl" required>
            <mat-option *ngFor='let c of country' [value]=" c.id">{{c.name}}</mat-option>
          </mat-select>
          <mat-error>Field required</mat-error>

        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="col-lg-6">
      <mat-checkbox (change)="SetAdress($event)" name="sameaddress">
        Use contact address as billing address ?</mat-checkbox>
    </div>
    <div class="col-lg-6">
      <mat-checkbox (change)="defaultBilling($event)" name="addresschange"> Save as default Billing Information ?
      </mat-checkbox>
    </div>
  </mat-card-actions>
</mat-card>

<div class="col-lg-6">
  <div>
    <mat-card>
      <h4>Please select your payment method</h4>
      <mat-radio-group [(ngModel)]="user.payment">
        <mat-radio-button *ngFor="let payment of payments" name="payment" [value]="payment.id">
          {{ payment.name }}</mat-radio-button>
        <!-- <input type="radio" name="payment" [value]="payment.id" [(ngModel)]="user.payment" [disabled]="this.minRib && payment.id === 'banktransfer'"> {{ payment.name }}  -->
        <!-- <small class="text-color" *ngIf="this.minRib && payment.id === 'banktransfer'">(Amount < {{currencyObj['maxrib']}} {{currencyObj['symbol']}})</small> -->
      </mat-radio-group>
      <label class="checkbox text-color small">Credit Card is currently not supported as a payment
        method</label>
      <!-- <label class="checkbox text-color" *ngIf="user.payment != payment">
              <input type="checkbox" name="paymentchange" [(ngModel)]="paymentchange"> Select as default
              payment
              method ?
            </label> -->
    </mat-card>
    <mat-card style="margin-top: 3.6%;">
      <h4>Please select your billing currency</h4>
      <mat-card-content>
        <mat-radio-group [(ngModel)]="currency">
          <ng-container *ngFor="let curr of currencies">
            <mat-radio-button name="currency" [value]="curr.id" [title]="curr.name" (change)="ChangedCurrency(curr.id)">
              {{ curr.device }}
            </mat-radio-button><br>
          </ng-container>
        </mat-radio-group>
        <label class="checkbox text-color" *ngIf="user.currency != currency">
          <mat-checkbox name="currencychange" (change)="ChangedDefaultCurrency($event)"> Select as default
            billing currency ?
          </mat-checkbox>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>