<app-menu></app-menu>
<div class="container">
    <div class="row">
    <!--  page header -->
    <div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-users"></i> User Profil</h1>
    </div>
    <!-- end  page header -->
    </div>
    <!-- Listes des utilisateurs -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><div class="pull-left alert">{{message}}</div></h4>
          </div>
          <div class="panel-body">
            <div class="col-lg-12">
              <form>
                <div class="col-lg-6">
                  <div class="form-group input-group">
                    <span class="input-group-addon">Fisrt Name*</span>
                    <input type="text"  name="newfirstname" class="form-control" placeholder="Fisrt Name" [(ngModel)]="user['firstname']" required>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon">Last Name*</span>
                    <input type="text" name="newlastname" class="form-control" placeholder="Last Name" [(ngModel)]="user['lastname']" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group input-group">
                    <span class="input-group-addon">Roles</span>
                    <div class="btn btn-info" *ngFor="let r of user['roleName']">
                      <span aria-hidden="true" (click)="delRole(r)" class="text-danger ">&times;</span> {{ r }}
                    </div>
                    <select name="newRole" class="form-control" [(ngModel)]="role" (change)="addRole($event.target.value)" required>
                      <option value="">Selected Role</option>
                      <option *ngFor='let r of roles' [value]="r.name"  [disabled]="user['roleName'].indexOf(r.name) !== -1 ">{{r.name}}</option>
                    </select>
                  </div>  
                </div>
              </form>
            </div>
          </div>
          <div class="panel-footer">
            <button (click)="save()">Update</button>
            <button routerLink="/admin/users">Cancel</button>
          </div>
        </div>
      <!--End Advanced Tables -->
      </div>
    </div>
    <!-- End listes des utilisateurs -->
  </div>