<app-menu></app-menu>
<div class="row page-header">
  <div class="col-lg-8">
    <ol class="breadcrumb">
      <li class="bread-crumb" [routerLink]="['/compliance']">Home</li>
      <li class="bread-crumb" [routerLink]="['/compliance/orders']">Compliance</li>
      <li class="current-bread-crumb">Order Details {{idOrder}}</li>
    </ol>
  </div>
  <div class="col-lg-4">
    <div class="table-responsive text-center" *ngIf="verifState()">
      <div class="btn-group">
        <a href="#menu" id="toggle" (click)="expandMenu()"><span></span></a>
        <div id="menu">
          <ul>
            <li>
              <p class="action" (click)="validateOrder()"><i class="fa fa-check align-icons"></i>Validate Order</p>
            </li>
          </ul>
        </div>
      </div>
      <span id="menu-title" (click)="expandMenu()" class="action-button">{{actionButton}}</span>
    </div>
  </div>
</div>
<div class="container page-content">
  <div class="row">
    <app-menu-compliance></app-menu-compliance>
    <div class="col-md-11">
      <div class="table-responsive">
        <div class="panel panel-primary" *ngIf="message">
          <div class="panel-heading">
            <h5 class="text-center">{{message}}</h5>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="table-responsive container row">
            <div class="col-md-6">
              <p>Order ID : <b> {{ idOrder }}</b></p>
              <p>Submission Date and Time : <b> {{ submissionDate | date:'medium' }}</b></p>
              <p>Payment method : <b>{{ payment }}</b></p>
              <p>Invoice : <b>
                  <a target="_blank" *ngIf="proForma" (click)="downloadInvoice(proForma, 'pro forma invoice')">
                    Pro-Forma</a>
                  <p style="display: inline;" *ngIf="invoice"> | </p>
                  <a target="_blank" *ngIf="invoice" (click)="downloadInvoice(invoice, 'invoice')">Invoice</a>
                </b></p>
              <p>Order Status : <b><span [class]="textcolor">{{ getStateName(state) }}</span></b>
              <p>Order Type: <b> {{ type }} </b></p>
              <p>Sales: <b> {{sales}}</b></p>
            </div>
            <div class="col-md-6">
              <p>Company Name: <b>{{ company }}</b></p>
              <p>First name : <b>{{ firstname }}</b></p>
              <p>Last name : <b>{{ lastname }}</b></p>
              <p>Job role : <b>{{ job }}</b></p>
              <p>Country : <b>{{ countryBilling }}</b></p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item #</th>
                <th>Data Set</th>
                <th>Symbol</th>
                <th>Exchange</th>
                <th>Product ID</th>
                <th>Purchase Type</th>
                <th>Engagement Period<br>(month)</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Pricing Tier</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of cart">
                <td *ngIf="!c.print">{{ c.idx}}</td>
                <td *ngIf="!c.print">{{ c.quotation_level }}</td>
                <td *ngIf="!c.print">{{ c.symbol }}</td>
                <td *ngIf="!c.print">{{ c.exchange }}</td>
                <td *ngIf="!c.print">{{ c.eid }}</td>
                <td *ngIf="c.onetime === 1 && !c.print">One-Off</td>
                <td *ngIf="c.subscription === 1 && !c.print">Subscription</td>
                <td *ngIf="c.subscription === 1 && !c.print">{{c.period}}</td>
                <td *ngIf="c.subscription === 1 && !c.print && !c.begin_date_select"></td>
                <td *ngIf="c.subscription === 1 && !c.print && !c.end_date_select"></td>
                <td *ngIf="c.subscription === 1 && !c.print && c.begin_date_select">
                  {{ c.begin_date_select | date:'yyyy-MM-dd' }}</td>
                <td *ngIf="c.subscription === 1 && !c.print && c.end_date_select">{{ c.end_date | date:'yyyy-MM-dd' }}
                </td>
                <td *ngIf="c.subscription === 0 && !c.print"></td>
                <td *ngIf="c.subscription === 0 && !c.print">{{ c.begin_date_select | date:'yyyy-MM-dd' }}</td>
                <td *ngIf="c.subscription === 0 && !c.print">{{ c.end_date_select | date:'yyyy-MM-dd' }}</td>
                <td *ngIf="!c.print">{{ c.pricingTier }}</td>
                <td *ngIf="!c.print">{{c.ht | number:'1.2-2' }} {{ symbols[currency] }}</td>
                <td class="bg-grey" colspan="9" *ngIf="c.print"></td>
                <td *ngIf="(c.backfill_fee || c.ongoing_fee)"><b>Exchange Fees</b></td>
                <td *ngIf="(c.backfill_fee || c.ongoing_fee)">
                  {{(c.backfill_fee ? c.backfill_fee : c.ongoing_fee) | number:'1.2-2' }}
                  {{ symbols[currency] }}</td>
              </tr>
              <tr *ngIf="cart?.length === 0">
                <td colspan="11" class="no-data-available">Empty !</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive container margin-left-zero">
          <div class="col-md-9 margin-left-zero">
            <p><b>Internal Notes:</b></p>
            <p><textarea class=" responsive-field" name="internNotesText" id="internalNotesTextArea"
                readonly>{{internalNote}}</textarea></p>
          </div>
          <div class="col-md-3">
            <table class="border-color-sum">
              <tr>
                <td>Exchange Fees</td>
                <td>{{ totalFees | number:'1.2-2' }} {{ symbols[currency] }}</td>
              </tr>
              <tr>
                <td>Order Amount</td>
                <td>{{ totalHT | number:'1.2-2' }} {{ symbols[currency] }}</td>
              </tr>
              <tr>
                <td>Discount (%)</td>
                <td>{{ discount }}</td>
              </tr>
              <tr>
                <td>VAT ({{vat}}%)</td>
                <td>{{ totalVat | number:'1.2-2' }} {{ symbols[currency] }}</td>
              </tr>
              <tr>
                <td>TOTAL Order Amount</td>
                <!-- <td>{{ (vat * (cmd?.totalHT + cmd?.totalExchangeFees)) + (cmd?.totalHT + cmd?.totalExchangeFees) | number:'1.2-2' }} {{ symbols[currency] }}</td> -->
                <td>{{ totalTTC | number:'1.2-2' }} {{ symbols[currency] }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><b>{{ action }}</b></h5>
    <button type="button" class="close" aria-label="Close" (click)="d('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-right">
    <button type="button" class="btn btn-danger" (click)="confirm(); c('')">Confirm</button>
    <button type="button" class="btn btn-light" (click)="c('')">Close</button>
  </div>
</ng-template>