<div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <div class="panel panel-primary" *ngIf="message">
          <div class="panel-heading">
            <h5 class="text-center">{{message}}</h5>
          </div>
        </div>
        <table class="row-border hover dataTable" width="100%">
          <thead>
            <tr>
              <th rowspan="3" class="text-center bord">Princing Tier</th>
              <th colspan="5" class="text-center bord">ADTV</th>
            </tr>
            <tr>
              <th colspan="2" class="bord text-center" width="600px">Non-Derivatives</th>
              <th colspan="2" class="bord text-center" width="600px">Derivatives</th>
            </tr>
            <tr>
              <th class="bord text-center" width="298px">Min</th>
              <th class="bord text-center" width="298px">Max</th>
              <th class="bord text-center" width="298px">Min</th>
              <th class="bord text-center" width="298px">Max</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of adtv[0]?.tab">
              <td>{{ a.pricingTier }}</td>
              <td *ngIf="a.index === 'non-derivatives'">
                <div (click)="cell = a.index + a.pricingTier + 'inf'" width="298px" class="clickable">
                  <span *ngIf="cell === '' || cell !== a.index + a.pricingTier + 'inf'">{{a.inf?a.inf:'-'}}</span>
                </div>
                <input [(ngModel)]="a.inf" type="number" min="0" *ngIf="cell === a.index + a.pricingTier + 'inf'">
                <button class="btn btn-success" (click)="cell=''" *ngIf="cell === a.index + a.pricingTier + 'inf'">Valid</button>
              </td>
              <td *ngIf="a.index === 'non-derivatives'">
                <div (click)="cell = a.index + a.pricingTier + 'sup'" width="298px" class="clickable">
                  <span *ngIf="cell === '' || cell !== a.index + a.pricingTier + 'sup'">{{a.sup?a.sup:'-'}}</span>
                </div>
                <input [(ngModel)]="a.sup" type="number" min="0" *ngIf="cell === a.index + a.pricingTier + 'sup'">
                <button class="btn btn-success" (click)="cell=''" *ngIf="cell === a.index + a.pricingTier + 'sup'">Valid</button>
              </td>
              <td *ngIf="a.index === 'non-derivatives'" colspan="2" class="bg-grey"></td>
              <td *ngIf="a.index === 'derivatives'" colspan="2" class="bg-grey"></td>
              <td *ngIf="a.index === 'derivatives'">
                <div (click)="cell = a.index + a.pricingTier + 'inf'" width="298px" class="clickable">
                  <span *ngIf="cell === '' || cell !== a.index + a.pricingTier + 'inf'">{{a.inf?a.inf:'-'}}</span>
                </div>
                <input [(ngModel)]="a.inf" type="number" min="0" *ngIf="cell === a.index + a.pricingTier + 'inf'">
                <button class="btn btn-success" (click)="cell=''" *ngIf="cell === a.index + a.pricingTier + 'inf'">Valid</button>
              </td>
              <td *ngIf="a.index === 'derivatives'">
                <div (click)="cell = a.index + a.pricingTier + 'sup'" width="298px" class="clickable">
                  <span *ngIf="cell === '' || cell !== a.index + a.pricingTier + 'sup'">{{a.sup?a.sup:'-'}}</span>
                </div>
                <input [(ngModel)]="a.sup" type="number" min="0" *ngIf="cell === a.index + a.pricingTier + 'sup'">
                <button class="btn btn-success" (click)="cell=''" *ngIf="cell === a.index + a.pricingTier + 'sup'">Valid</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-responsive text-center">
          <div class="btn-action" (click)="save()">
            <span class="btn btn-default color fa fa-save"> Save</span>
          </div>
        </div>
      </div>
    </div>
  </div>